[Unit]
Description=Gunicorn instance to serve a development app.
after=network.target

[Service]
User=wumbl3priv
Group=www-data
WorkingDirectory=/home/wumbl3priv/ChitChat/
ExecStart=/home/wumbl3priv/ChitChat/start.sh
Environment="PYTHONUNBUFFERED=TRUE"
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
