<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>ChitShat</title>
    <meta name="viewport" content="width=200,initial-scale=1" />
    <link rel="manifest" href="static/@.webmanifest" />
    <meta name="theme-color" content="#000000" />
</head>
<script type="importmap">
{
    "imports": {
        "socket.io-client": "/static/dependencies/socket.io.esm.min.js",
        "zyX": "https://zyx.wumbl3.xyz/v:1.5/",
        "zyX/": "https://zyx.wumbl3.xyz/v:1.5/"
    }
}
</script>
<style>
 thing{
    background-color: #dbe5f1;
}
</style>

<body></body>
<script>
    const data = {{ data | tojson }};
</script>
<script src="/static/app.js" type="module" defer></script>

</html>